body,
html {
  width: 100%;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  background-image: url(header.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.text {
  color: antiquewhite;
  text-align: center;
  margin-top: 350px;
  
}
.twocomp {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}

.btn {
  border-radius: 300px;
  padding: 0.5rem 2rem;
  background-color: #F05F44;
  border-color: #F05F44;
}
.btn:hover {
  background-color: #ee4b08;
  border-color: #ee4b08;
  border-width: 5px;
}
