.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

img {
    width: 400px;
    height: 300px;
    margin: 10px;
    transition: all 1s;
}
h1 {
    
    font-size: 3em;
    border: solid 20px;
    border-color: aqua;
    font-family: fantasy;
    width: 400px;
    text-align: center;

}
img:hover {
	transform: scale(1.1);
}